rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      // anybody
      allow read;

      // owner
      allow create:
        if userId == request.auth.uid
        && isCreatedNow(request.resource)
        && isUpdatedNow(request.resource);
      allow update:
        if userId == request.auth.uid
        && isUpdatedNow(request.resource);

      match /followings/{followingId} {
        // handled by functions
        allow read;
      }

      match /followers/{followingId} {
        // handled by functions
        allow read;
      }
    }

    match /rooms/{userId} {
      // anybody
      allow read;

      // owner
      allow create:
        if userId == request.auth.uid
        && isCreatedNow(request.resource)
        && isUpdatedNow(request.resource);
      allow update:
        if userId == request.auth.uid
        && isUpdatedNow(request.resource);

      match /participants/{participantId} {
        // created by functions

        // anybody
        allow read;

        // themselves
        allow delete: if participantId == request.auth.uid;

        // room owner
        allow delete: if userId == request.auth.uid;
      }

      match /reactions/{reactionId} {
        // anybody
        allow read;

        // themselves
        allow create: if request.resource.data.userId == request.auth.uid;
      }
    }

    function isCreatedNow(resource) {
      return resource.data.createdAt == request.time;
    }

    function isUpdatedNow(resource) {
      return resource.data.updatedAt == request.time;
    }
  }
}
