rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      // anybody
      allow read;

      // owner
      allow create:
        if userId == request.auth.uid
        && isCreatedNow(request.resource)
        && isUpdatedNow(request.resource);
      allow update:
        if userId == request.auth.uid
        && isUpdatedNow(request.resource);

      match /followings/{followingId} {
        // handled by functions
        allow read;
      }

      match /followers/{followingId} {
        // handled by functions
        allow read;
      }
    }

    match /rooms/{userId} {
      // anybody
      allow read;

      // owner
      allow create:
        if userId == request.auth.uid
        && isCreatedNow(request.resource)
        && isUpdatedNow(request.resource);
      allow update:
        if userId == request.auth.uid
        && isUpdatedNow(request.resource)
        && isCorrectStateTransition(resource);

      function isCorrectStateTransition(room) {
        let none = room.data.state == request.resource.data.state;
        let opening = room.data.state == "preparing"
          && request.resource.data.state == "open";
        let closing = request.resource.data.state == "closed";
        return none || opening || closing;
      }
    }

    function isCreatedNow(resource) {
      return resource.data.createdAt == request.time;
    }

    function isUpdatedNow(resource) {
      return resource.data.updatedAt == request.time;
    }
  }
}
