.MicToggle {
  background-color: var(--base-bg);
  border-radius: 0.1em;
  border: solid 1px var(--ui-border-color);
  display: grid;
  gap: 0.1em;
  grid-template-columns: 1fr 1fr;
  padding: 0.1em;
  width: 100%;
}

.NiceButton.MicToggle-button {
  &[data-mictoggle-active="false"]:not(&:focus, &:hover) {
    background-color: transparent;
    border-style: hidden;
  }
}
