.SessionPlayer {
  background-color: #f0f0f0;
  border-top: solid 1px #999;
  bottom: 0;
  box-shadow: 0 0 0.5rem 0.5rem #fff;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 10001; // larger than `.firebase-emulator-warning`
}

.SessionPlayer-inner {
  box-sizing: border-box;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr auto;
  height: 4rem;
  margin-left: auto;
  margin-right: auto;
  width: min(100%, 800px);
  padding: 0 1rem;
}

.SessionPlayer-room {
  line-height: 4rem;
}

.SessionPlayer-controls {
  display: grid;
}

.SessionPlayer-button {
  --SessionPlayer-button-bg: var(--theme2-bg);
  --SessionPlayer-button-border-color: var(--theme2-border-color);
  --SessionPlayer-button-fg: var(--theme2-fg);
  background-color: var(--SessionPlayer-button-bg);
  border-color: var(--SessionPlayer-button-border-color);
  border-style: none solid;
  border-width: 1px;
  color: var(--SessionPlayer-button-fg);
  cursor: pointer;
  width: 4rem;

  &:hover,
  &:focus {
    --SessionPlayer-button-bg: hsl(210, 100%, 97%);
  }

  &:active {
    --SessionPlayer-button-bg: hsl(210, 100%, 90%);
  }
}

.SessionPlayer-spinner {
  animation: SessionPlayer-spinner 1s infinite;
  display: inline-block;
  height: 50%;

  @keyframes SessionPlayer-spinner {
    0% { transform: rotate(0); }
    100% { transform: rotate(360deg); }
  }
}
