:root {
  --base-bg: #fff;
  --base-fg: #333;
  --base-font-family: -apple-system, Roboto, sans-serif;
  --clickable-height: 1.5rem;
  --danger-bg: hsl(0, 100%, 95%);
  --danger-border-color: hsl(0, 50%, 80%);
  --danger-fg: hsl(0, 50%, 30%);
  --link-color: hsl(210, 90%, 30%);
  --link-hover-color: hsl(210, 90%, 45%);
  --theme-bg: hsl(210, 100%, 20%);
  --theme-fg: #fff;
  --ui-active-bg: hsl(210, 100%, 90%);
  --ui-bg: hsl(210, 100%, 95%);
  --ui-border-color: hsl(210, 50%, 80%);
  --ui-fg: var(--link-color);
  --ui-hover-bg: hsl(210, 100%, 97%);
}

/* no mouse devices */
@media (pointer:coarse) {
  :root {
    --clickable-height: 3rem;
  }
}
