.BasicHeaderFrame {
  background-color: var(--theme-bg);
  color: var(--theme-fg);
  height: var(--clickable-height);
  font-size: 1rem;
  line-height: var(--clickable-height);

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
