.UserOneLine {
  --NiceButton-bg: var(--theme2-bg);
  --NiceButton-border-color: var(--theme2-border-color);
  --NiceButton-fg: var(--theme2-fg);
  border-color: var(--NiceButton-border-color);
  border-style: solid none solid;
  border-width: 1px;
  color: var(--NiceButton-fg);
  display: grid;
  padding: 0.5em 1em;

  & + & {
    border-top-style: none;
  }

  & > a {
    height: var(--clickable-height);
    line-height: var(--clickable-height);
  }
}
