.UserRoomPage-playButton {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}

.UserRoomPage-playButtonIcon {
  font-size: 5rem;
}

.UserRoomPage-playButtonLabel {
  font-size: 1.5rem;
  margin-top: 1rem;
}
