:root {
  --base-bg: #fff;
  --base-fg: #333;
  --base-font-family: -apple-system, Roboto, sans-serif;
  --link-color: hsl(210, 90%, 30%);
  --link-hover-color: hsl(210, 90%, 45%);
  --theme-bg: hsl(210, 100%, 20%);
  --theme-fg: #fff;
  --theme2-bg: hsl(210, 100%, 95%);
  --theme2-border-color: hsl(210, 50%, 80%);
  --theme2-fg: hsl(210, 50%, 30%);
  --danger-bg: hsl(0, 100%, 95%);
  --danger-border-color: hsl(0, 50%, 80%);
  --danger-fg: hsl(0, 50%, 30%);
}

body {
  margin: 0;
  font-family: -apple-system, Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 320px;
}

a {
  color: var(--link-color);
}

a:hover {
  color: var(--link-hover-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ui-container {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  max-width: min(100%, 800px);
  padding-left: 1rem;
  padding-right: 1rem;
}

.ui-center {
  align-items: center;
  display: flex;
  justify-content: center;
}
