.NiceButton {
  --NiceButton-bg: var(--theme2-bg);
  --NiceButton-border-color: var(--theme2-border-color);
  --NiceButton-fg: var(--theme2-fg);
  background-color: var(--NiceButton-bg);
  border-color: var(--NiceButton-border-color);
  border-radius: 0.1rem;
  border-style: solid;
  border-width: 1px;
  color: var(--NiceButton-fg);
  font-family: -apple-system, Roboto, sans-serif;
  min-height: calc(0.5em * 2 + var(--clickable-height));
  padding: 0.5em 1em;

  &:disabled {
    filter: grayscale(0.8);
  }

  &:not(:disabled) {
    cursor: pointer;

    &:hover,
    &:focus {
      --NiceButton-bg: hsl(210, 100%, 97%);
    }

    &:active {
      --NiceButton-bg: hsl(210, 100%, 90%);
    }

    &[data-nicebutton-style="danger"] {
      --NiceButton-bg: var(--danger-bg);
      --NiceButton-border-color: var(--danger-border-color);
      --NiceButton-fg: var(--danger-fg);
    }
  }
}
