.NiceButton {
  --NiceButton-bg: var(--ui-bg);
  --NiceButton-border-color: var(--ui-border-color);
  --NiceButton-fg: var(--ui-fg);
  background-color: var(--NiceButton-bg);
  border-color: var(--NiceButton-border-color);
  border-radius: 0.1rem;
  border-style: solid;
  border-width: 1px;
  color: var(--NiceButton-fg);
  font-family: -apple-system, Roboto, sans-serif;
  min-height: calc(0.5em * 2 + var(--clickable-height));
  padding: 0.5em 1em;

  &:disabled {
    filter: grayscale(0.8);
  }

  &:not(:disabled) {
    cursor: pointer;

    &:hover,
    &:focus {
      --NiceButton-bg: var(--ui-hover-bg);
    }

    &:active {
      --NiceButton-bg: var(--ui-active-bg);
    }

    &[data-nicebutton-style="danger"] {
      --NiceButton-bg: var(--danger-bg);
      --NiceButton-border-color: var(--danger-border-color);
      --NiceButton-fg: var(--danger-fg);
    }
  }
}
